@CHARSET "UTF-8";
/* 首页CSS样式 */ /* 首页CSS样式 */ /* 首页CSS样式 */ /* 首页CSS样式 */ /* 首页CSS样式 */
/* 首页CSS样式 */ /* 首页CSS样式 */ /* 首页CSS样式 */ /* 首页CSS样式 */ /* 首页CSS样式 */
/* 按钮的样式 */
.btn { /* float: right; */
	background-image: url(../img/btn.png);
	width: 82px;
	height: 82px;
	/* 按钮缩小一半 */
	width: 41px;
	height: 41px;
	position: fixed;
	right: 0px;
	/* right:0px; */
}

.btn_left {
	background-image: url(../img/btn.png);
	width: 82px;
	height: 82px;
	/* 按钮缩小一半 */
	width: 41px;
	height: 41px;
	/* width: 30%; */
	margin-right: 20px;
	position: absolute;
	z-index: 1;
	height: 41px;
}

/* 导航条背景颜色 */
.menu_background {
	position: fixed;
	right: 0px;
	/* float: right; */
	/* background-image: url(../img/menu.png);
	background-size: 225px 1280px;
	background-repeat: no-repeat; */
	background-color: #86754d;
	/* 透明 */
	background-color: rgba(134, 117, 77, 0);
	/* width: 30%; */
	height: 100%;
	width: 227px;
	/* 缩小按钮后227-41px */
	width: 166px;
	/* width: 30%; */
	right: 0px;
}

.menu_background_2 {
	width: 125px;
	height: 100%;
	/* height:500px; */
	/* width: 70%; */
	background-color: #86754d;
	float: right;
	background-color: #86754d /* position: fixed;
	/* position: absolute;
	z-index: 2; */              
	              /* margin-bottom:50px; */
}

/* 导航图片的自适应 */
.menu_img {
	width: 100%;
	padding: 0px;
	margin: 0px;
	display:inline-block;
	/* 防止标签a溢出img后出现移位 */
	display:block;
}

/* .menu_ul {
	float: right;
	width: 225px;
	height: 1280px;
	margin: 0px;
	padding: 0px;
}

.menu_ul li a {
	margin: 0px;
	padding: 0px;
}

.menu_distance {
	border-bottom-width: 15px;
	border-bottom-color: #ff0000
}
 */

/* 首页F1背景图 */
.F1_bg {
	background-image: url(../img/F1_bg.png);
	/* width: 720px;
	height: 1280px;  */
	background-size: 100% auto;
	background-repeat: no-repeat;
}

/* 消除body与浏览器的距离 */
html,body {
	margin: 0px;
	padding: 0px;
	/* 
	position:absolute;是移动不出屏幕外面的 
	position:relative;可以移动出屏幕外面的
	*/
	position: relative;
	/* right:100px; */
}

.margin_top {
	margin-top: -5px;
}
/* .zfx {
	position: fixed;
	left: 0px;
	top: 0px;
	
} */

/* 项目综述CSS部分 */ /* 项目综述CSS部分 */ /* 项目综述CSS部分 */ /* 项目综述CSS部分 */
/* 项目综述CSS部分 */ /* 项目综述CSS部分 */ /* 项目综述CSS部分 */ /* 项目综述CSS部分 */
.xmzs_bg1 {
	background-image: url(../img/xmzs/1.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

/* Z轴展开导航栏所处的Z层 */
.Z_index {
	position: absolute;
	z-index: 2;
}

/* 图片内容区域 */
.content { /* position:absolute; */
	/* float: right; */
	margin: 0px;
	padding: 0px;
	/* 内容区域溢出部分隐藏 */
	overflow: hidden;
}

/* 向下图片容器 */
.bottomDiv {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
/* 联系我们的下面地址容器 */
.bottomDiv1 {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

/* 向下指示图标图片 */
.bottomDiv_img {
	width: 41px;
}

.bottomDiv_img1 {
	width: 100%;
}

/* 封面图片背景 */
.background_color1 {
	background-color: #b4b4b5;
}

/* 项目区位第一张图片背景 */
.background_color2 { /* margin-right:125px; */
	padding-right: 125px;
	/* background-color: #b4b4b5; */
	background-color: #FFF;
}

/* 项目区位第二张图片背景 */
.background_color3 { /* margin-right:125px; */
	padding-right: 125px;
	background-color: #195395;
}

/* 白色背景 */
.background_color4 {
	background-color: rgb(255, 255, 255);
}

/* a {
	width: 125px;
	height: auto;
} */
a {
	padding: 0px;
	margin: 0px;
	/* overflow:hidden; */
}